<h3>Projects</h3>
<div class='divider'></div>

<div class='row projects'>
  <div class='col s5 images'>
    <a href='//jamradio.herokuapp.com/'>
      <img src='/images/JamRadio.png' alt='JamRadio'>
    </a>
  </div>
  <div class='col s7 description'>
    <h5>JamRadio</h5>
    <p>My final project at Launch Academy. This application is divided in Front-end and Back-end sides.</p>
    <p>The back-end generates an API to feed the front-end. Making use of Ajax requests, the HTML is generated in the front-end to load the new info dynamically so in this way the music don't stop playing.</p>
    <p>I had a lot of fun creating this application and I learned a lot about Ajax and how to create a dynamic website.</p>
  </div>
</div>

<div class='divider'></div>

<div class='row projects'>
  <div class='col s7 description'>
    <h5>Powered by SoundCloud</h5>
    <p>This application allows the users to create a list of radio stations like Pandora but making use of soundcloud music vault.</p>
    <p>It was my first JavaScript project, where I learned a lot about SoundManager2, JavaScript and how all this work with Sinatra.</p>
  </div>
  <div class='col s5 images'>
    <a href='//radio-sc.herokuapp.com/log_in'>
      <img src='/images/Radio-sc.png' alt='second-project'>
    </a>
  </div>
</div>

<div class='divider'></div>

<div class='row projects'>
  <div class='col s5 images'>
    <a href='//shrouded-forest-7420.herokuapp.com/'>
      <img src='/images/RescueMission.png' alt='third-project'>
    </a>
  </div>
  <div class='col s7 description'>
    <h5>RescueMission</h5>
    <p></p>
  </div>
</div>
