<h3>Projects</h3>
<div class='row projects'>
  <div class='col s5 images'>
    <a href='//jamradio.herokuapp.com/'>
      <img src='/images/JamRadio.png' alt='JamRadio'>
    </a>
  </div>
  <div class='col s7 description'>
    <h5>JamRadio</h5>
    <p>This was my final project at Launch Academy. I built an application similar 
    to Pandora using Soundcloud API with a few additional features.</p>
    <p>JamRadio offers three ways to listen to music and share. The first option is a 
    list of radio stations where, after inputting a genre or name of an artist, the 
    app will generate a playlist for the user. The second one is a list of the 
    user's favorite songs. The user can add songs individually or with the "like" 
    button by adding the song the radio is playing. The last one is a multiple user 
    interactive group list. The user can create a group or use it as a guest. 
    Every member of the group can add songs to the same playlist, making sharing 
    music between friends easy and fun.</p>
  </div>
</div>

<div class='row projects'>
  <div class='col s7 description'>
    <h5>Powered by SoundCloud</h5>
    <p>This application is my first interaction with JavaScript and Ajax requests 
    and my first one-page-only application.</p>
    <p>It’s the first part of my final project, which is the radio stations playlist.</p>
    <p>To build this app I used Sinatra together with ActiveRecord for the back end.</p>
  </div>
  <div class='col s5 images'>
    <a href='//radio-sc.herokuapp.com/log_in'>
      <img src='/images/Radio-sc.png' alt='second-project'>
    </a>
  </div>
</div>

<div class='row projects'>
  <div class='col s5 images'>
    <a href='//shrouded-forest-7420.herokuapp.com/'>
      <img src='/images/RescueMission.png' alt='third-project'>
    </a>
  </div>
  <div class='col s7 description'>
    <h5>RescueMission</h5>
    <p>This is one of the first projects I did at Launch Academy. The idea was to 
    recreate a bulletin board similar to StackOverflow where people can post questions 
    and then others can respond.</p>
    <p>I started to experiment with Foundation and CSS, so I went for a neon look 
    for the bulletin board.</p>
  </div>
</div>

<div class='row projects'>
  <div class='col s7 description'>
    <h5>New Project Creator</h5>
    <p>In the first two weeks at Launch, I built a lot of small apps with Sinatra. 
    In order to not have to create all the scaffolds by hand, I built a Ruby program 
    called New Project Creator. It is a simple Ruby routine that saved me a lot 
    of time. With the extra time, I took time to style my projects and focus on 
    the real challenge.</p>
  </div>
  <div class='col s5 images'>
    <a href='//github.com/cocolote/new-project-creator'>
      <img src='/images/sinatra.png' alt='third-project'>
    </a>
  </div>
</div>
