<h3>Projects</h3>
<div class='divider'></div>

<div class='row projects'>
  <div class='col s5 images'>
    <a href='//jamradio.herokuapp.com/'>
      <img src='/images/JamRadio.png' alt='JamRadio'>
    </a>
  </div>
  <div class='col s7 description'>
    <h5>JamRadio</h5>
    <p>My final project at Launch Academy. Making use of SoundCloud API now the 
    users can experience a different to listen their favorite music</p>
    <p>The applications has 3 different playlist. The firstone is a list of radio
    stations (like Pandora). The second playlist is a list of the favourite songs
    of the user, he can add songs individualy or hiting the like buttom when he
    likes a song from the radio. And the third one is a list of groups that the
    user can create or be invited and he and the rest of the guests can add songs
    to the group and this songs would be available to play for everyone.</p>
    <p>I had a lot of fun creating this application and I learned a lot about Ajax 
    request and how to create a dynamic website, building my own API to feed the 
    front-end side.</p>
  </div>
</div>

<div class='divider'></div>

<div class='row projects'>
  <div class='col s7 description'>
    <h5>Powered by SoundCloud</h5>
    <p>Side project. My first interaction with JavaScript and Ajax request. I 
    learned a lot on how to use jQuery and a lot of CSS to make it look cool!</p>
    <p>This app has only radio stations, that depending on the name of the artist or
    the genre that the user added, the app generates a playlist.</p>
    <p>Because SoundCloud uses SoundManager 2 I had to read the whole manual
    to learn how to play songs, delete songs and make the infinite loop so the 
    radio never stops playing. It was challenging and really rewarding seen the 
    final product working!</p>
  </div>
  <div class='col s5 images'>
    <a href='//radio-sc.herokuapp.com/log_in'>
      <img src='/images/Radio-sc.png' alt='second-project'>
    </a>
  </div>
</div>

<div class='divider'></div>

<div class='row projects'>
  <div class='col s5 images'>
    <a href='//shrouded-forest-7420.herokuapp.com/'>
      <img src='/images/RescueMission.png' alt='third-project'>
    </a>
  </div>
  <div class='col s7 description'>
    <h5>RescueMission</h5>
    <p>One of the first projects that I had to do at Launch Academy. The idea was 
    to create a blog like StackOverflow where people can post questions and then 
    others can answer it.</p>
    <p>I like to make my sites look cool so I took it a little bit further and 
    styled the site.</p>
  </div>
</div>

<div class='divider'></div>

<div class='row projects'>
  <div class='col s7 description'>
    <h5>New Project Creator</h5>
    <p>In the first two weeks at Launch I had to build a lot of small apps in 
    Sinatra, tired of creating all the scaffolds for a Sinatra app I decided 
    to build a little ruby routine to do that for me so New Project Creator was born</p>
    <p>Is a simple ruby program really easy to scale that saved me a lot of time 
    during the beginning of the course, giving me some extra time to style my projects.</p>
  </div>
  <div class='col s5 images'>
    <a href='//github.com/cocolote/new-project-creator'>
      <img src='/images/sinatra.png' alt='third-project'>
    </a>
  </div>
</div>
