<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
  <title>Ezequiel Lopez Portfolio</title>
  <link type='text/css' rel='stylesheet' href='/css/vendor/materialize.min.css' media='screen,projection'>
  <link type='text/css' rel='stylesheet' href='/css/portfolio.css'>
</head>
<body>
  <div id='banner-container'>
    <div class='row'>
      <div class='col s2 offset-s10' id='nav-bar'>
        <div id='links-container'>
          <a class='contact-links' href="//github.com/cocolote">
            <img src='/images/github10.png' alt='my-github'>
          </a>
          <a href="//www.linkedin.com/in/ezequieljlopez">
            <img src='/images/linkedin1.png' alt='my-linkedin'>
          </a>
          <a class='contact-links' href="//www.facebook.com/Cocolote">
            <img src='/images/facebok.png' alt='my-facebook'>
          </a>
          <a class='contact-links' href="//twitter.com/j_skiel">
            <img src='/images/twitter36.png' alt='my-twitter'>
          </a>
        </div>
      </div>
    </div>
    <div id='name-prof'>
      <h1>Ezequiel J. Lopez</h1>
      <h5>Jr Web Developer</h5>
    </div>
    <div class='row badges-contrainer'>
      <div class='col s4'>
        <img src='/images/jQueryAJAX.png' alt='' class='badges-left'>
        <img src='/images/javascript.png' alt='' class='badges-left'>
      </div>
      <div class='col s4 offset-s4'>
        <img src='/images/html-logo.png' alt='' class='badges-right'>
        <img src='/images/sinatra-logo.png' alt='' class='badges-right'>
      </div>
    </div>
    <div class='hover panel'>
      <div class='front'>
        <div class='pad'>
            <img src='/images/Ezequiel_Lopez.png' alt='my-face front' class='my-face'>
        </div>
      </div>
      <div class='back'>
        <div class='pad'>
            <img src='/images/learn-ruby.png' alt='my-face back' class='my-face'>
        </div>
      </div>
    </div>
  </div>
  <div class='row' id='projects-container'>
    <%= yield %>
  </div>
  <script type='text/javascript' src='//code.jquery.com/jquery-2.1.1.min.js'></script>
  <script type='text/javascript' src='/js/vendor/materialize.min.js'></script>
  <script type='text/javascript' src='/js/portfolio.js'></script>
</body>
</html>
